rssreader.localhost {
	encode zstd gzip

	@immutable {
		path /_app/immutable/*
	}
	header @immutable Cache-Control "public, max-age=31536000, immutable"

	@versioned {
		path /node_modules/*
		path /.svelte-kit/*
		path /src/*
		query v=*
		query t=*
	}
	header @versioned Cache-Control "public, max-age=31536000, immutable"

	reverse_proxy localhost:5173
}
